.page-header
  %h1 Codes Projets
%table.table.table-striped
  %thead
    %tr
      %th Nom
      %th Actions
  %tbody
    - @project_codes.each do |project_code|
      %tr
        %td= project_code.name
        %td
          - if can? :read, project_code
            = link_to "Gérer", project_code, class: 'btn btn-mini'
          - if can? :destroy, project_code
            = link_to "Supprimer", project_code_path(project_code), method: :delete, data: { confirm: "Êtes-vous sûr ?" }, class: 'btn btn-mini btn-danger'

- if can? :create, ProjectCode
  = link_to "Nouveau Code Projets", new_project_code_path, class: 'btn btn-info'
