!!! 5
%html(lang="fr")
  %head
    %meta(charset="utf-8")
  %body
    %h1
      Bienvenue à la DRI
      = @consultant.name
    %p
      Le code d'imputation de votre activité dans l'outil Aramis est :
      = "#{@consultant.aramis_entity.name}_#{@projet.code}."

