!!! 5
%html(lang="fr")
  %head
    %meta(charset="utf-8")
  %body
    %p
      Bonjour
      = @responsable.prenom
      ,
    %p Les propositions de la semaine prochaine sont ouvertes aux sélections. Tu peux prévenir tes équipes afin de faire les réservations dans l'application.
    %p Je suis à ta disposition pour toute question.
    %p
      Cordialement,
      %br
      %strong
        Olivier Rabilloud
